* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
    z-index: 0;
}

body {
    width: 100vw;
    height: 100vh;
    /* background-color: #3b444b; */
    background-image: url("./ameer-basheer-gV6taBJuBTk-unsplash.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Navs */

nav {
    padding: 1em;
    height: 3%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.selected-item a{
    color: rgb(49, 104, 243);
}

nav ul li {
    list-style-type: none;
    font-size: .65em;
    opacity: .8;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    transform: scale(1.1);
    opacity: 1;
}


/* Main */

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        opacity: .9;
        transform: translateX(0);
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

main img {
    margin-top: .5em;
    border-radius: 1em;
    animation: 1s ease-out 0s 1 slideInLeft;
}

main section {
    margin: 1em;
    animation: 2s ease-out 0s 1 slideInLeft;
}

main section h1 {
    text-decoration: underline;
    margin: .5em;
    opacity: .9;
}

main section h1, main section p {
    text-align: center;
}

main section p {
    opacity: .7;
    text-align: start;
}

.contact-details {
    display: none;
    margin-top: 5em;
    justify-content: space-around;
    animation: 3s ease-out 0s 1 slideInLeft;
}

.contact-details div h1 {
    opacity: .9;

}

.contact-details div ul li{
    list-style-type: none;
    opacity: .6;
    padding-left: .6em;
    margin-bottom: .3em;
}

.contact-details a {
    height: 50%;
    background-color: #0e1111;
    border-radius: .5em;
    padding: .7em .8em;
    opacity: .7;
    align-self: flex-end;
    animation: 4s ease-out 0s 1 slideInLeft;
    text-decoration: none;
}

.contact-details a i {
    padding-right: .6em;
}

.contact-details a:hover {
    transform: scale(1.1);
    opacity: 1;
}


/* Footer */

footer {
    padding-bottom: 1em;
    height: 3%;
    background-color: 	#0e1111;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .8em;
    gap: 1em;
}

footer ul li {
    list-style-type: none;
    font-size: .8em;
    opacity: .7;
}

footer ul li:hover {
    transform: scale(1.1);
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul li a i:hover {
    color: rgb(49, 104, 243);
}


/* Medias */
@media only screen and (min-width: 768px) {
    nav ul {
        gap: 1.6em;
    }

    nav ul li {
        font-size: .9em;
    }

    nav ul li:hover {
        transform: scale(1.1);
    }

    main {
        flex-direction: row;
        align-items: flex-start;
        height: 90%;
        padding-top: 2em;
    }

    .contact-details {
        display: flex;
    }

    footer {
        height: 5%;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    footer ul {
        gap: 2.2em;
    }

    footer ul li {
        font-size: 1.3em;
    }

    footer ul li:hover {
        transform: scale(1.1);
    }
}

@media only screen and (min-width: 1024px) {

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
    }

    footer ul li {
        font-size: 1.1em;
    }

    footer ul li:hover {
        transform: scale(1.2);
    }
}
