* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
    z-index: 0;
}

body {
    width: 100vw;
    /* height: 100vh; */
    background-image: url("./ameer-basheer-gV6taBJuBTk-unsplash.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Navs */

nav {
    padding: 1em;
    height: 3%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.selected-item a{
    color: rgb(49, 104, 243);
}

nav ul li {
    list-style-type: none;
    font-size: .65em;
    opacity: .8;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    transform: scale(1.1);
    opacity: 1;
}


/* main */

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        opacity: .9;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .9;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

main section:first-child {
    margin-top: 1em;
}

main section:last-child {
    margin-top: 5em;
}

main section h2 {
    font-size: 1em;
    text-decoration: underline;
    text-decoration-color: aqua;
    text-underline-offset: .4em;
    margin-bottom: .6em;
    animation: 3s ease-in 0s 1 fadeIn;
}

main section div{
    animation: 2s ease-in 0s 1 slideDown;

}

main section div h3 {
    font-size: .8em;
    opacity: .9;
    margin-bottom: .3em;

}

main section div .date {
    font-size: .6em;
    opacity: .9;
    margin-bottom: 1em;
}

main section div p:last-child{
    margin-bottom: 2.5em;
    font-size: .6em;
    opacity: .8;
}



/* Footer */

footer {
    padding-bottom: 1em;
    height: 3%;
    background-color: 	#0e1111;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .8em;
    gap: 1em;
}

footer ul li {
    list-style-type: none;
    font-size: .8em;
    opacity: .7;
}

footer ul li:hover {
    transform: scale(1.1);
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul li a i:hover {
    color: rgb(49, 104, 243);
}


/* Medias */
@media only screen and (min-width: 768px) {
    nav ul {
        gap: 1.6em;
    }

    nav ul li {
        font-size: .9em;
    }

    nav ul li:hover {
        transform: scale(1.1);
    }

    main section:first-child {
        margin-top: 5em;
    }

    main section h2 {
        font-size: 1.5em;
        text-underline-offset: .4em;
        margin-bottom: .7em;
    }

    main section div h3 {
        font-size: 1.2em;
        opacity: .9;
        margin-bottom: .4em;
    }

    main section div .date {
        font-size: 1em;
        margin-bottom: .8em;
    }

    main section div p:last-child{
        margin-bottom: 2.5em;
        font-size: .9em;
    }

    footer {
        height: 5%;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    footer ul {
        gap: 2.2em;
    }

    footer ul li {
        font-size: 1.3em;
    }

    footer ul li:hover {
        transform: scale(1.1);
    }
}

@media only screen and (min-width: 1024px) {
    main section div p:last-child {
        line-height: 1.4em;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
    }

    footer ul li {
        font-size: 1.1em;
    }

    footer ul li:hover {
        transform: scale(1.2);
    }
}

@media only screen and (max-width: 1000px) {
    body {
        height: 100vh;
    }
}

@media only screen and (min-width: 1440px) {
    body {
        height: 100vh;
    }
}