* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("./ameer-basheer-gV6taBJuBTk-unsplash.jpg");
    background-size: cover;
}

/* Navs */

nav {
    padding-top: 1em;
    height: 3%;
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: .5em;
}

.selected-item a{
    color: rgb(49, 104, 243);
}

nav ul li {
    list-style-type: none;
    font-size: .65em;
    opacity: .8;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    transform: scale(1.1);
    opacity: 1;
}


/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    margin: 10em auto;
    width: 90%;
}

main h1 {
    font-size: 1.4em;
    opacity: 1;
    animation: home1 2s ease-in;
}

@keyframes home1 {
    from {opacity: 0;}
    to {opacity: 1;}
}

main p {
    font-size: .5em;
    opacity: .9;
    text-align: center;
    animation: home2 4s ease-in;
}

@keyframes home2 {
    from {opacity: 0;}
    to {opacity: .9;}
}

main ul {
    display: flex;
    gap: 1em;
}

main ul li {
    list-style-type: none;
    font-size: .7em;
    animation: home3 6s ease-in;
    opacity: .8;
}

@keyframes home3 {
    from {opacity: 0;}
    to {opacity: 1;}
}

main ul li:hover {
    transform: scale(1.1);
    opacity: 1;
}

main ul li a {
    text-decoration: none;
    color: white;
}

main ul li a i:hover {
    color: rgb(49, 104, 243);
}

/* Medias */
@media only screen and (min-width: 768px) {
    nav ul {
        gap: 1.6em;
    }

    nav ul li {
        font-size: .9em;
    }

    nav ul li:hover {
        transform: scale(1.1);
    }

    main h1 {
        font-size: 2.4em;
    }

    main p {
        font-size: 1.5em;
        opacity: .7;
        margin-bottom: 1em;
    }

    main ul {
        gap: 2.2em;
    }

    main ul li {
        font-size: 1.7em;
    }

    main ul li:hover {
        transform: scale(1.1);
    }

}