* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
    z-index: 0;
}

body {
    width: 100vw;
    background-image: url("./ameer-basheer-gV6taBJuBTk-unsplash.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Navs */

nav {
    padding: 1em;
    height: 3%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.selected-item a{
    color: rgb(49, 104, 243);
}

nav ul li {
    list-style-type: none;
    font-size: .65em;
    opacity: .8;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    transform: scale(1.1);
    opacity: 1;
}

/* Main */

/* =====Animation Stuff===== */
@keyframes fadeIn {
    100% {
        opacity: .9;
    }
}

main ul li {
    animation: fadeIn .5s forwards;
}

main ul li:nth-child(1) {
    animation-delay: 1s;
}

main ul li:nth-child(2) {
    animation-delay: 1.5s;
}

main ul li:nth-child(3) {
    animation-delay: 2s;
}

main ul li:nth-child(4) {
    animation-delay: 2.5s;
}

main ul li:nth-child(5) {
    animation-delay: 3s;
}

main ul li:nth-child(6) {
    animation-delay: 3.5s;
}

main ul li:nth-child(7) {
    animation-delay: 4s;
}

main ul li:nth-child(8) {
    animation-delay: 4.5s;
}

main ul li:nth-child(9) {
    animation-delay: 5s;
} 


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

main input {
    width: 50%;
    margin-top: 1.5em;
    color: black;
    padding: .3em .4em;
    border-radius: .2em;
}


main ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3em;
    margin-left: 3em;
    gap: 1em;
}

main ul li {
    flex-basis: 40%;
    list-style-type: none;
    opacity: 0;
}

main ul li:hover {
    cursor: pointer;
    transform: scale(1.05);
}

main ul li a {
    text-decoration: none;
}

main ul li a img {
    width: 100%;
    border-radius: .2em;
}

main ul li a p {
    font-size: .7em;
    text-align: center;
}




/* Footer */

footer {
    padding-bottom: 1em;
    height: 3%;
    background-color: 	#0e1111;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .8em;
    gap: 1em;
}

footer ul li {
    list-style-type: none;
    font-size: .8em;
    opacity: .7;
}

footer ul li:hover {
    transform: scale(1.1);
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul li a i:hover {
    color: rgb(49, 104, 243);
}



/* Media */

@media only screen and (min-width: 768px) {
    nav ul {
        gap: 1.6em;
    }

    nav ul li {
        font-size: .9em;
    }

    nav ul li:hover {
        transform: scale(1.1);
    }

    main input {
        width: 40%;
    }

    main ul li {
        flex-basis: 30%;
    }

    footer {
        height: 5%;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    footer ul {
        gap: 2.2em;
    }

    footer ul li {
        font-size: 1.3em;
    }

    footer ul li:hover {
        transform: scale(1.1);
    }

}

@media only screen and (min-width: 1024px) {
    main input {
        padding: .5em .7em;
        font-size: .9em;
    }

    main ul {
        margin-left: 7em;
    }
    
    main ul li {
        flex-basis: 20%;
    }

    main ul li p {
        font-size: 1em;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
    }

    footer ul li {
        font-size: 1.1em;
    }

    footer ul li:hover {
        transform: scale(1.2);
    }
}

@media only screen and (min-width: 1280px) {
    main ul {
        margin-left: 10.5em;
    }
}


/* Centering projects */

@media only screen and (min-width: 1400px) {

    main input {
        padding: .6em 1em;
        font-size: 1.2em;
    }

    main ul {
        margin-left: 10.5em;
    }

}

@media only screen and (min-width: 1600px) {
    main ul {
        margin-left: 12.5em;
    }
}

@media only screen and (min-width: 1800px) {
    main ul {
        margin-left: 15.5em;
    }
}

@media only screen and (min-width: 2000px) {
    main ul {
        margin-left: 20em;
    }
}

/* To allow the Footer to stick to bottom */

@media only screen and (max-width: 1000px) {
    body {
        height: 100vh;
    }
}

@media only screen and (min-width: 1440px) {
    body {
        height: 100vh;
    }
}

